/*
	display property - change the display of the element

inline - consuming the width of the content
	ex. img, span
block - consuming the full width of the page, thus creating line space for the next element
	ex. text-blocks (h1-h6, p)
inline-block - works as inline element for its sibling but block elements outside its parent element
	- will appear with elements, inline, inline-block
none - hides the content

*/

#div-1{
	background-color: green;
}

#span-1{
	background-color: purple;display: none;
}

#span-2{
	background-color: red;display: none;
}

#div-2{
	background-color: pink;
}

#img{
	width: 250px;
	height: 250px;
	display: inline-block;
}

#p-1{
	background-color: #87cefa;
}

#p-2{
	background-color: rgb(255,105,180);
	width: 60%;
}

#p-3{
	background-color: yellow;
	width: 40%;
}

#span-sample{
	width: 60%;
}

.sample{
	display: inline-block;
	width: 30%;
	border: 1px solid;
}

.img-float{
	width: 250px;
	height: 250px;
	float: left;
}

.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent{
	width: 50%;
	float: right;
}

.one-hundred-pixels{
	width: 100px;
}

.parent{
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw{
	width: 50vw;
}

.twenty-five-vh{
	height: 25vh;
}

/*rem - ROOT ELEMENT MEASUREMENT
	- relatvie to root element*/
/*	ex. rem relative to HTML body*/
.one-rem{
	font-size: 1rem;
}

/*em - ELEMENT MEASUREMENT
	- relative to parent element*/
/*	ex. relative to a block */
.one-em{
	font-size: 1em;
}

.two-rem{
	font-size: 2rem;
}

.two-em{
	font-size: 2em;
}

.two-hundred-percent{
	font-size: 200%;
}

/*
	use the background class and refactor its eleent to have minimum height of 100vh and background-color of gray

	send the output in our google chat.
*/

.background{
	/*background-color: gray;*/
	min-height: 100vh;
	/*the background image is outsourced in the internet thru url()*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	/*background-repeat - determines whether the client/dev wants to repeat the background should it not fit the container*/
	background-repeat: no-repeat;
	/*background-size - determines the size of the background image*/
	background-size: 100%;
	/*background-position - specifies the position of the background image to the HTML element*/
	/*the command demands: x and y value*/
	background-position: center top;
	/*background-attachment - scroll(default) or fixed*/
	background-attachment: fixed;
}

.title{
	color: white;
	text-align: center;
	font-size: 5rem;
	/*get rid of space around the element*/
	margin: 0;
	line-height: 35rem;
}

.container-bg{
	background-color: rgba(0,0,0,0.5);
	min-height: 100vh;
}

/*CSS Positioning*/
/* position: static - default position
	- follows normal flow of elements 
	- not affected by MEASUREMENTS*/
/* position: relative - follows direction
	- normal flow
	- AFFECTED BY MEASUREMENTS (t,b,l,r)*/
/* position: absolute - rel to parent element
	- DOES NOT follow document flow
	- no alloted space for element
	- positioned to closest ancestor
		ex. no position(default is none cuz of 'static', follows next position specified*/
/* position: fixed - rel to screen/page
	- DOES NOT follow document flow
	- not affected by parent element */
/* position: sticky - combi of rel and fixed 
	- relative but fixed when outside of container
	- FOLLOWS flow but STICKS when beyond scroll*/
.parent-element{
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 800vh;
}	

.child-one{
	background-color: gray;
	padding: 10px;
}

.child-two{
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 10px;
}

.child-three{
	background-color: gray;
	padding: 10px;
}

html{
	height: 800vh;
}

.container{
	position: relative;
}

/*Z-index will follow order of the STACK*/
.black-box{
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box{
	/*above green and black box*/
	position: absolute;
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	right: 50px;
}

.green-box{
	/*above black box*/
	position: absolute;
	z-index: 2;
	background: lightgreen;
	width: 35%;
	height: 200px;
	left: 270px;
	top: -15px;
}

