*{
	font-family: "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
	position: sticky;
	z-index: 1;
}

nav .nav-logo{
	margin: .5rem;
	display: inline;
}

nav .nav{
	margin: .5rem;
	display: inline;
} 

.right-nav{
	margin-right: 3rem;
    float: right;
}

.tuitt-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 10rem;
	font-size: 1rem;
	padding:  .5rem 1rem;
}

.front-bg{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	width: 100vw;
	height: 600px;
	background-repeat: no-repeat;
	background-position:  center ;
	background-attachment: scroll;
}
.container{
	color: white;
	padding-left: 50%;
	padding-right: 10%;
	text-align: right;
	/*background-color: black;*/
	background: rgba(0,0,0,0.5);
	height: 600px;
}
.title{
	font-size: 3.5rem;
}
.subtitle
{
	margin-left: 30%;
	font-size: 1.5rem;
}
.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 10rem;
	font-size: 1rem;
	padding:  .5rem 3rem;
}
.intro{
	display: block;
	padding: 2rem 3rem;
	text-align: center;
}
.title-2{
	margin: 0 2rem;
	font-size: 3rem;
}
.intro-description{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1.5rem;

}

.prefooter-description{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1rem;
	padding-bottom: 3rem;
	font-size: 2rem;
}

.pre-footer{
	display: block;
	padding: 2rem 3rem;
	text-align: center;
}

footer{
	padding: .7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
	display: inline;
}

.book-button{
	color: white;
	font-weight: bold;
	background-color: royalblue;
	border-radius: 10rem;
	font-size: 1.5rem;
	padding:  .7rem 3rem;